.ellipsis {

  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "020";
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
  clear: both;
}

.w100 {
  width: 100% !important;
}

.pLeftRight30 {
  padding-left: .3rem !important;
  padding-right: .3rem !important;
}

.placeholder {
  color: #B2B2B2
}

.pLeft30 {
  padding-left: .3rem !important;
}

.pRight30 {
  padding-right: .3rem !important;
}