@font-face {
  font-family: "iconfont"; /* Project id 5105440 */
  src: url('iconfont.woff2?t=1767780276977') format('woff2'),
       url('iconfont.woff?t=1767780276977') format('woff'),
       url('iconfont.ttf?t=1767780276977') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghao1:before {
  content: "\e66d";
}

.icon-yulan:before {
  content: "\e636";
}

.icon-icon_chuanduiguanli:before {
  content: "\e609";
}

.icon-AI-copy:before {
  content: "\f307";
}

.icon-task:before {
  content: "\e651";
}

