@font-face {
  font-family: 'iconfont'; /* Project id 4968358 */
  src:
    url('iconfont.woff2?t=1767495582685') format('woff2'),
    url('iconfont.woff?t=1767495582685') format('woff'),
    url('iconfont.ttf?t=1767495582685') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wentijieda:before {
  content: '\ec2e';
}

.icon-ai_tools:before {
  content: '\e61b';
}

.icon-shiyan:before {
  content: '\e72c';
}

.icon-knowledge-full:before {
  content: '\e89d';
}

.icon-AI-copy:before {
  content: '\f307';
}

.icon-zhengshuguanli:before {
  content: '\e619';
}

.icon-zhengshuguanli1:before {
  content: '\e6b7';
}

.icon-zhengshuguanli2:before {
  content: '\e70a';
}

.icon-zhengshuguanli-:before {
  content: '\e60e';
}

.icon-zhuye:before {
  content: '\e639';
}

.icon-zhuye1:before {
  content: '\e661';
}

.icon-zhuye2:before {
  content: '\e61d';
}

.icon-jixieqimo:before {
  content: '\e627';
}

.icon-zhanghao:before {
  content: '\e65e';
}

.icon-ziliaoku:before {
  content: '\e66e';
}

.icon-xuexi:before {
  content: '\e603';
}

.icon-biaoqian:before {
  content: '\e60c';
}

.icon-diag-kejian:before {
  content: '\e659';
}

.icon-xuexi1:before {
  content: '\e605';
}

.icon-kejianguanli:before {
  content: '\e667';
}

.icon-zhanghao1:before {
  content: '\e66d';
}

.icon-jixieqipei:before {
  content: '\e632';
}

.icon-ziliaoku1:before {
  content: '\e66f';
}

.icon-zizhanghaoguanli:before {
  content: '\e618';
}

.icon-xuexi2:before {
  content: '\e61a';
}

.icon-icon-chuanyuan-on:before {
  content: '\e608';
}

.icon-zhanghaosheweimoren:before {
  content: '\e629';
}

.icon-jixie:before {
  content: '\e60d';
}

.icon-biaoqian1:before {
  content: '\f306';
}

.icon-biaoqian2:before {
  content: '\e758';
}

.icon-icon_xuexi:before {
  content: '\e606';
}

.icon-biaoqian3:before {
  content: '\e6b6';
}

.icon-chuanyuanshenqing:before {
  content: '\e61f';
}

.icon-biaoqian4:before {
  content: '\e859';
}

.icon-xuexi3:before {
  content: '\e865';
}

.icon-icon_chuanduiguanli:before {
  content: '\e609';
}

.icon-xuexi4:before {
  content: '\e60a';
}

.icon-icon_chuanyuandangan:before {
  content: '\e625';
}

.icon-caidanzhediemenu-fold:before {
  content: '\e611';
}

.icon-biaoqianguanli1:before {
  content: '\e703';
}

.icon-chuanboguanli:before {
  content: '\e635';
}

.icon-jiaoseguanli:before {
  content: '\e607';
}

.icon-biaoqianguanli:before {
  content: '\e6c4';
}

.icon-Gc_37_face-SuperAccount:before {
  content: '\e617';
}

.icon-guidangcunchu:before {
  content: '\e660';
}

.icon-pptwenjian:before {
  content: '\e7b4';
}

.icon-kejian-01:before {
  content: '\e634';
}

.icon-X:before {
  content: '\e610';
}

.icon-huiyishi:before {
  content: '\e716';
}

.icon-yanjing-3:before {
  content: '\e658';
}

.icon-peixun1:before {
  content: '\e85e';
}

.icon-duoxuan:before {
  content: '\e602';
}

.icon-baxin:before {
  content: '\e657';
}

.icon-zhinanzhen1:before {
  content: '\ee19';
}

.icon-UIsheji_menjinxitong-13:before {
  content: '\e623';
}

.icon-xianlu1:before {
  content: '\e63d';
}

.icon-youzhuan90du:before {
  content: '\e614';
}

.icon-zuozhuan90du:before {
  content: '\e615';
}

.icon-dingwei:before {
  content: '\e616';
}

.icon-59xuanze-3:before {
  content: '\e646';
}

.icon-xuanzeweixuanze:before {
  content: '\e62c';
}

.icon-yidong1:before {
  content: '\e653';
}

.icon-yunshangchuan:before {
  content: '\e601';
}

.icon-AItubiao:before {
  content: '\e63c';
}

.icon-gengxin:before {
  content: '\e612';
}

.icon-fenxiang-1:before {
  content: '\e60b';
}

.icon-yulan:before {
  content: '\e636';
}

.icon-xiazai:before {
  content: '\e665';
}

.icon-ship-line:before {
  content: '\e871';
}

.icon-chuandui:before {
  content: '\e63a';
}

.icon-chuanduiguanli:before {
  content: '\e7b2';
}

.icon-wenjian1:before {
  content: '\e664';
}

.icon-suodingmima:before {
  content: '\e6b3';
}

.icon-zanting:before {
  content: '\e6b4';
}

.icon-chakanxiangqing:before {
  content: '\e6b5';
}

.icon-tianjiashuxingrenwu:before {
  content: '\e6a4';
}

.icon-tianjiarenwuleixing:before {
  content: '\e6a5';
}

.icon-xinjianwenjianjia:before {
  content: '\e6a6';
}

.icon-shangchuanwenjian:before {
  content: '\e6a7';
}

.icon-tianjiarenwu:before {
  content: '\e6a8';
}

.icon-shanchu1:before {
  content: '\e6a9';
}

.icon-chuanyunjishuziliao:before {
  content: '\e6aa';
}

.icon-dawenjianjia:before {
  content: '\e6ab';
}

.icon-sangedian:before {
  content: '\e6ac';
}

.icon-faguiyugongyue:before {
  content: '\e6ad';
}

.icon-chuanbodangan:before {
  content: '\e6ae';
}

.icon-bianzu:before {
  content: '\e6b0';
}

.icon-bianji1:before {
  content: '\e6b1';
}

.icon-a-bianzu2:before {
  content: '\e6b2';
}

.icon-jiahao:before {
  content: '\eaf3';
}

.icon-jianhao:before {
  content: '\eaf5';
}

.icon-quyu:before {
  content: '\e604';
}

.icon-shebeiguanli:before {
  content: '\e65f';
}

.icon-shangxiabuju1:before {
  content: '\e6af';
}

.icon-tuichuquanping:before {
  content: '\e600';
}

.icon-bianji:before {
  content: '\e69e';
}

.icon-shangchuan:before {
  content: '\e69f';
}

.icon-biaozhuchicun:before {
  content: '\e6a0';
}

.icon-yanshenneirong:before {
  content: '\e6a1';
}

.icon-genzongshebei:before {
  content: '\e6a2';
}

.icon-suoyinshebei:before {
  content: '\e6a3';
}

.icon-xinzeng:before {
  content: '\e69a';
}

.icon-dingwi:before {
  content: '\e69b';
}

.icon-tuzhi:before {
  content: '\e69c';
}

.icon-shuomingshu:before {
  content: '\e69d';
}

.icon-shanchu:before {
  content: '\e785';
}

.icon-mti-chuanbo:before {
  content: '\e8dc';
}

.icon-toBottom:before {
  content: '\e613';
}

.icon-arrowRight:before {
  content: '\e65d';
}

.icon-jia1:before {
  content: '\e692';
}

.icon-jiaoji:before {
  content: '\e693';
}

.icon-guanmen:before {
  content: '\e694';
}

.icon-fenlei:before {
  content: '\e695';
}

.icon-chuanchang:before {
  content: '\e696';
}

.icon-dawenjian:before {
  content: '\e697';
}

.icon-fasong:before {
  content: '\e698';
}

.icon-a-:before {
  content: '\e699';
}

.icon-zhebi:before {
  content: '\e682';
}

.icon-zhuangtai:before {
  content: '\e683';
}

.icon-zhinanzhen:before {
  content: '\e684';
}

.icon-weixiu:before {
  content: '\e685';
}

.icon-wenjian:before {
  content: '\e686';
}

.icon-weizhi:before {
  content: '\e687';
}

.icon-qixie1:before {
  content: '\e680';
}

.icon-qixie3:before {
  content: '\e681';
}

.icon-tupian:before {
  content: '\e688';
}

.icon-rili:before {
  content: '\e689';
}

.icon-qixie4:before {
  content: '\e68a';
}

.icon-mulu:before {
  content: '\e68b';
}

.icon-jieping:before {
  content: '\e68c';
}

.icon-huanban:before {
  content: '\e67f';
}

.icon-tuichu:before {
  content: '\e68d';
}

.icon-guanliyuan:before {
  content: '\e68e';
}

.icon-quanping:before {
  content: '\e68f';
}

.icon-qixie2:before {
  content: '\e690';
}

.icon-duidie:before {
  content: '\e67e';
}

.icon-peixun:before {
  content: '\e691';
}

.icon-jia:before {
  content: '\e67d';
}

.icon-ppt:before {
  content: '\e678';
}

.icon-ziliao2:before {
  content: '\e679';
}

.icon-zhihang2:before {
  content: '\e67a';
}

.icon-shebei2:before {
  content: '\e677';
}

.icon-renwu2:before {
  content: '\e67b';
}

.icon-jiancha2:before {
  content: '\e67c';
}
